* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #ffffff;
  width: 100%;
  max-width: 450px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #2d3748;
  margin-bottom: 8px;
}

.subtitle {
  text-align: center;
  color: #718096;
  font-size: 14px;
  margin-bottom: 20px;
}


input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 1px solid #cbd5e0;
  font-size: 14px;
}

textarea {
  resize: none;
  height: 100px;
}


.primary-btn {
  background: #4facfe;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.primary-btn:hover {
  background: #3182ce;
}

.secondary-btn {
  margin-top: 15px;
  background: #38b2ac;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.secondary-btn:hover {
  background: #2c7a7b;
}

#message {
  text-align: center;
  margin-top: 10px;
  color: #2f855a;
  font-weight: bold;
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #e2e8f0;
}

#complaints {
  max-width: 700px;
  margin: auto;
}

.complaint {
  background: white;
  margin: 15px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.complaint p {
  margin: 5px 0;
}
